/*
display:
- block
- inline
- list-item
- inline-block
- none
*/

h1, p, span, a {
    border: 1px solid #ddd;
}

h1, p {
    /*h1 p もインライン要素のように横に配置する*/
    /*display: inline;*/
    display: inline-block;
    /*inline要素の場合、幅と高さの設定は無視される*/
    /*inline-blockにすると幅と高さの設定が有効になる*/
    width: 180px;

}

/*非表示*/
span { display: none; }