html {
  background-image: url("bg_gray.png");
  height:100%;    /* containerを下まで無限に延ばす。▲はそのための設定 */
}

body {
  height:      100%;    /* ▲ */
  font-family: Verdana, Arial, serif;
  font-size: 14px;
}

body > #container {
  height: auto;   /* ▲ */
}

#container {
  min-height: 100%;   /* ▲ */
  height:100%;        /* ▲ */
  width: 600px;
  margin: 0 auto;   /* 上下は0、左右は自動（均等に） */
  padding: 0 10px;
  background-color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#header {
  margin-bottom: 15px;
}

#menu {
  margin-bottom: 15px;
  /* contentsとsidebarが回り込んでこないように */
  overflow: hidden;
}

#main {
  /* footerが入り込んでこないように overflow:hiddenを設定する */
  /* ※これがないとmainの高さが0になってしまい、footerが浸食してくる */
  overflow: hidden;
  margin-bottom: 15px;    /* さらに footerとの間に隙間を空ける */
}

#contents {
  float: left;
  width: 400px;
}

#sidebar {
  float: right;
  width: 180px;
}

#footer {
  font-size: 12px;
  color: #cccccc;
  text-align: center;
  border-top: 1px solid #cccccc;
  padding: 10px 0 20px;
}

#menu ul>li {
  float: left;      /* 横並びになる */
  width: 100px;
  font-size: 13px;
  text-align: center;
  padding: 4px;
  background: #cccccc;
  margin-right: 10px;
  border-radius: 4px; /* 角丸に */
  text-shadow: 0 1px 0 #fff;
}

#menu ul>li:hover {
  background: #dddddd;

}
#menu ul>li>a {
  text-decoration: none;
  display: block;   /* 親要素一杯まで広がる？？？（文字の外側もクリックできるようになる） */
}
