// これはUTF-8のファイルです

// scss -> css conversion
//   sass --style expanded -E utf-8 scss\main.scss:css\main.css
//   ※-Eでencodingを指定。cssファイルの先頭に @charset "UTF-8"; と記述される。

// scss -> css conversion [watch / by folder]
//   sass --style expanded -E utf-8 --watch scss:css

/*
  Comments to CSS
  ここのコメントはCSS側に残ります
*/

// 変数
$baseFontSize: 14px;
$imgDir: "../img/";


#main {
	width: 90%;
	// background: url($imgDir + "bg.png");		// 文字列の連結
	background: url("#{$imgDir}bg.png");		// インライン評価

	p { 
		font-size: 16px;

		a {
			text-decoration: none;

			// &: は親要素のselectorを表す
			&:hover {
				font-weight: $baseFontSize;
			}
		}

		.sub {
			// 四則演算も使える
			font-size: $baseFontSize - 2px;
			// font-size: #{12 + 12}px;			// インライン評価は数値演算にも使える
		}
	}
}